<% if (success && success.length){ %>
<div class="alert alert-success offset-3 col-6" role="alert">
  <%= success %>
</div>
<% } %>

<% if (error && error.length){ %>
<div class="alert alert-danger offset-3 col-6" role="alert">
  <%= error %>
</div>
<% } %>