<% layout("/layouts/boilerplate.ejs") %>
<body>
   
   <h3>all listings</h3>
   <form method="GET" action="/listing/new" >
   <button>add new data</button>
   </form>
   <ul>
      <% for(let listing of allListings){ %>
      <li> <a href=" /listing/<%= listing.id %> "> <%= listing.title %> </a> </li>
      <% } %>
   </ul>
</body>

